/* css padrão */
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* tamanho e borda do jogo */
.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

/* tamanho e posição do hamburguer */
#character {
    width: 50px;
    height: 50px;
    position: relative;
    top: 150px;
}

/* animação hamburguer */
.animate {
    animation: jump 0.3s linear;
}

/* keyframes  do pulo */
@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

/* tamanho posição animação da boca */
#block {
    width: 20px;
    height: 20px;
    position: relative;
    top: 150px;
    animation: block 1s infinite linear;
}

/* keyframes da boca */
@keyframes block {
    0% {
        left: 500px
    }

    100% {
        left: -20px
    }
}

/* alinha o texto da pontuação */
p {
    text-align: center;
}